/* Container */
.profile {
    padding: 2rem;
    max-width: 90%;
}

.contact-me-profile img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 2rem 0rem;
}

/* Profile Left */
.profile-left-container {
    position: relative;
    z-index: 1;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: -5px 5px 15px rgba(0, 0, 0, 0.2);
    padding: 3rem 6rem;
    background: var(--secondary-color);
}

.social-links {
    border-radius: 0 0 0.5rem 0.5rem;
}

.contact-me-profile-bottom {
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-weight: bolder;
    margin: 0px;
}

.last-name {
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--text-color-alternate);
}

.social-links {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--text-color-alternate);
}

/* Profile Right */
.profile-right-container {
    padding-left: 2rem;
    background: var(--text-color-alternate);
}