:root {
    --hover-color: black;
}

/* All Elements of the Header */
.header {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 3rem;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: 500;
}

/* Header Flex Component */
.header-left,
.header-right {
    display: flex;
    flex-direction: row;
}

/* Left Header */
.header-left {
    display: flex;
}

.first-name,
.last-name {
    display: inline-block;
}

.collapse-on-hover {
    display: inline-block;
    white-space: pre;
    overflow: hidden;
    max-width: 1em;
    transition: all .3s ease;
}

.logo-letter-hide {
    transform-origin: 0 50%;
    transition: all .3s ease;
    opacity: 0;
}

/* Hover Effects */
.header-left:hover .collapse-on-hover {
    opacity: 0;
    max-width: 0em;
}

.header-left:hover .logo-letter-hide {
    opacity: 1;
}

.delay-75 {
    transition-delay: 75ms;
}

.delay-100 {
    transition-delay: 100ms;
}

/* Header Right */
.header-right {
    gap: 30px;
}

.header-right div {
    opacity: 0.5;
    transition: color 0.3s ease;
}

.header-right div:hover {
    opacity: 1 !important;
    color: white;
}