/* Parent Container */
.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

/* All Elements of the Header */
.header {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 1.5rem 3rem;
    flex-direction: row;
    justify-content: space-between;
    color: var(--text-color);
    font-weight: 500;
    border-bottom: 3px solid var(--header-border);
}

/* Specific Header Component */
.header-left,
.header-right {
    display: flex;
    flex-direction: row;
}

.header-right {
    opacity: .5;
    gap: 30px;
}