/* Overarching Container for the Landing Page */
.scroll-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: var(--particle-background);
    overflow: hidden;
}

/* Styling for Background of Landing Page */
.particlesStyle {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: '#000';
}

.landing-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.landing-page-header {
    display: flex;
    position: absolute;
    z-index: 1;
}