.personal-link {
    background-color: var(--bg-color, rgb(255, 255, 255));
    padding: 8px;
    border-radius: 16px;
    transition: all .3s ease;
}

.personal-link:hover svg {
    transform: scale(1.2);
    transition: all .3s ease;
}