.header-container {
    padding: 0rem 2rem;
    margin-bottom: 6rem;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-direction: column;
    /* Stack children vertically */
    max-width: 50em;
    text-align: center;
    /* Center text */
}

.Titlecard {
    max-width: 36rem;
    color: white;
    text-align: center;
    /* Center text */
}

.inline-block {
    text-align: center;
    justify-content: center;
    display: block;
}

a {
    text-decoration: none;
}

.header-container h2 {
    color: white;
    text-decoration: none;
    text-align: center;
    /* Center text */
    margin: 0;
    /* Reset margin */
}

.text-decoration {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}

.text-decoration::after {
    content: '';
    width: 100%;
    height: 30px;
    background-image: url('../../public/images/underline.svg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -1rem;
    left: 0;
}

.text-animation {
    display: inline-block;
    width: 10.24em;
    /* Auto width to fit content */
    overflow: hidden;
    vertical-align: bottom;
    text-align: left;
    /* Align text left */
    animation: blink-caret 0.75s step-end infinite;
    color: var(--text-decoration);
}

@keyframes appearIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.moveIn {
    animation: moveIn 1s ease-out forwards;
}