.contact-form-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.contact-form-name {
    display: flex;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.contact-form-first-name,
.contact-form-last-name {
    flex: 1;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}

.contact-form-name {
    margin-bottom: 1rem;
}

.contact-section-line {
    flex-grow: 1;
    height: 1px;
    background-color: var(--background-color-opacity);
}

.contact-section-title {
    margin: 0 1rem;
    color: var(--background-color);
    white-space: nowrap;
}