/* Root Variable Declaration */
:root {
  --background-color-main: #121212;
  --background-color-offset: #1F1F1F;
  --background-color: #FFFFFF;
  --background-color-opacity: rgba(255, 255, 255, 0.5);
  --column-color: #F5F5F5;
  --header-border: #C31815;
  --text-color: #2A2A2A;
  --text-color: #FFFFFF;
  --text-decoration: #FF7F50;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.background {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Studio Feixen Sans', 'Nunito Sans', 'Montserrat', sans-serif;

  /* Background color */
  background: linear-gradient(135deg, var(--background-color-main) 0%, var(--background-color-offset) 50%, var(--background-color-main) 100%);
}

.flex {
  display: flex;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('../public/fonts/StudioFeixenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('../public/fonts/StudioFeixenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('../public/fonts/StudioFeixenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 840px) {
  body {
    cursor: none !important;
  }
}

@media (max-width: 840px) {
  .logo {
    justify-content: center;
    width: 48px;
  }

  .header-container {
    margin: 3em 1.5em !important;
  }

  .header {
    flex-direction: column !important;
    gap: 1em;
    align-items: center;
  }

  .header-container h2,
  .text-animation,
  .text-decoration {
    font-size: 1.125em !important;
  }

  .header-container h2 {
    padding-left: 2em;
  }

  .experienceTitle,
  .experienceDescription,
  .sectionTitle {
    font-size: 1rem !important;
  }

  .header-right {
    gap: 40px !important;
  }
}

@media (max-width: 700px) {
  .cursor {
    display: none;
  }

  body {
    cursor: auto !important;
  }

  a {
    cursor: pointer !important;
  }

  .logo {
    width: 4rem;
  }

  .experienceTitle,
  .experienceDescription,
  .sectionTitle {
    font-size: 0.75 !important;
  }

  .sectionContent {
    padding-left: 1em !important;
  }
}

@media (max-width: 500px) {
  .header-container {
    min-width: 16em !important;
  }

  .logo {
    width: 4rem;
  }

  .experienceTitle,
  .experienceDescription,
  .sectionTitle {
    font-size: 0.75 !important;
  }

  .header-right {
    gap: 40px !important;
  }

  .header-container h2,
  .text-animation,
  .text-decoration {
    font-size: 1em !important;
  }

  .header-container h2 {
    padding-left: 1em;
  }
}