/* Root Variable Declaration */
:root {

  /* Content Attributes */
  --background-color: #FFFFFF;
  --background-color-main: #121212;
  --background-color-offset: #1F1F1F;
  --background-color-opacity: rgba(255, 255, 255, 0.5);

  /* Particle Attributes */
  --particle-background: #FFFFFF;
  --particle-dot: #121212;
  --particle-line: #121212;
  --text-color: #FFFFFF;
  --text-color-dark: #121212;
  --text-decoration: #FF7F50;

  /* Contact Me */
  --primary-color: #121212;
  --secondary-color: #1F1F1F;

  /* Scrollbar */
  --scrollbar-thumb: #121212;
  --scrollbar-bg: #FFFFFF;
}

/* General Styles */
html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

#root {
  display: flex;
  flex: 1;
  flex-direction: column;
}

/* Background */
.scrolling-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Studio Feixen Sans', 'Nunito Sans', 'Montserrat', sans-serif;

  /* Background color */
  background: linear-gradient(135deg,
      var(--background-color-main) 0%,
      var(--background-color-offset) 50%,
      var(--background-color-main) 100%);
}

/* Cursor Container */
.contact-form-container {
  cursor: none !important;
}

/* Utility Classes */
.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

/* Font Face Declarations */
@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('../public/fonts/StudioFeixenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('../public/fonts/StudioFeixenSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Studio Feixen Sans';
  src: url('../public/fonts/StudioFeixenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Keyframes */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Simple Bar */
::-webkit-scrollbar {
  width: 6px;
  /* Width of the scrollbar */
  background: transparent;
  /* Make the scrollbar background transparent */
  transition: opacity 0.3s ease-in-out;
  /* Smooth transition */
  opacity: 0;
  /* Invisible by default */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Make the track transparent */
  opacity: 0;
  /* Track is transparent and invisible */
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  /* Thumb color */
  border-radius: 10px;
  /* Rounded corners */
  opacity: 0;
  /* Invisible by default */
}

/* Media Queries */

/* Large Screens (840px and up) */
@media (min-width: 840px) {
  body {
    cursor: none !important;
  }

  /* Font-Size of Hero Message */
  .hero-message-container span {
    font-size: 1.5rem;
  }
}

/* Medium Screens (between 700px and 840px) */
@media (max-width: 840px) {
  .logo {
    justify-content: center;
    width: 48px;
  }

  .header-container {
    margin: 3em 1.5em !important;
  }

  .header {
    flex-direction: column !important;
    gap: 1em;
    align-items: center;
  }

  /* Font-Size of Hero Message */
  .hero-message-container span {
    font-size: 1.125rem !important;
  }

  .header-container h2 {
    padding-left: 2em;
  }

  .header-right {
    gap: 40px !important;
  }
}

/* Small Screens (between 500px and 700px) */
@media (max-width: 700px) {
  .cursor {
    display: none;
  }

  body {
    cursor: auto !important;
  }

  a {
    cursor: pointer !important;
  }

  .logo {
    width: 4rem;
  }

  .experienceTitle,
  .experienceDescription,
  .sectionTitle {
    font-size: 1rem !important;
  }

  .sectionContent {
    padding-left: 1em !important;
  }
}

/* Extra Small Screens (below 500px) */
@media (max-width: 500px) {
  .header-container {
    min-width: 16em !important;
  }

  .logo {
    width: 4rem;
  }

  .experienceTitle,
  .experienceDescription,
  .sectionTitle {
    font-size: 0.75rem !important;
  }

  .header-right {
    gap: 40px !important;
  }

  /* Font-Size of Hero Message */
  .hero-message-container span {
    font-size: 1rem !important;
  }

  .header-container h2 {
    padding-left: 1em;
  }
}